.container {
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.wrapper {
    overflow: hidden;
    background-image: url(../images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 60% 100%;

    @media only screen and (max-width: 990px) {
        background-size: cover;
        overflow: visible;
    }
}

.card {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);


    @media only screen and (max-width: 990px) {
        display: none;
    }

    &__image--box {
        display: flex;

        @media only screen and (max-width: 990px) {
            order: -1;
        }
    }

    &__image {
        width: 100%;
        display: block;
        object-fit: cover;

        &--mobile {
            height: 100%;
            display: none;

            @media only screen and (max-width: 990px) {
                display: block;
            }
        }

        &--desktop {
            height: 100%;

            @media only screen and (max-width: 990px) {
                display: none;
            }
        }
    }

    &__logo {
        display: flex;

        &--link {
            display: block;
        }
    }

    &__details {
        margin-top: calc(2 * var(--span-2xl));
        display: flex;
        align-items: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding-bottom: calc(var(--span-2xl) + var(--span-xs));
    }

    &__heading {
        font-family: var(--josefin-sans);
        font-size: calc(var(--size-2xl) + var(--size-xs));
        font-weight: var(--weight-sm);
        text-align: left;
        text-transform: uppercase;
        letter-spacing: 15px;
        color: var(--dark-grayish-red);

        @media only screen and (max-width: 1140px) {
            font-size: calc(var(--size-2xl));
            letter-spacing: 10px;
        }

        @media only screen and (max-width: 1024px) {
            font-size: calc(var(--size-xl) + 4px);
            letter-spacing: 13px;
        }

        &--colored {
            color: var(--soft-red);
            font-weight: var(--weight-xsm) !important;
        }

        span {
            display: block;
        }
    }

    &__content {
        max-height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: calc(var(--span-2xl) + var(--span-xs));
        padding-left: calc(2 * var(--span-2xl) + var(--span-s));
        padding-right: calc(2 * var(--span-2xl) + var(--span-s));

        @media only screen and (max-width: 1200px) {
            padding-left: calc(var(--span-2xl) + var(--span-xl));
            padding-right: calc(var(--span-2xl) + var(--span-xl));
        }

        @media only screen and (max-width: 1024px) {
            padding-left: calc(var(--span-2xl));
            padding-right: calc(var(--span-2xl));
        }
    }

    &__paragraph {
        margin-top: var(--span-s);
        font-family: var(--josefin-sans);
        font-size: var(--size-m);
        font-weight: var(--weight-lg);
        text-align: left;
        color: var(--desaturated-red);
        max-width: 95%;

        @media only screen and (max-width: 1024px) {
            font-size: var(--size-s);
        }
    }

    &__form {
        margin-top: var(--span-l);
    }

    &__group {
        display: flex;
        border: 1px solid var(--desaturated-red);
        border-right: none;
        height: 60px;
        border-radius: 40px;
    }

    &__input {
        flex-grow: 1;
        appearance: none;
        border: none;
        outline: none;
        background: transparent;
        padding-left: var(--span-m);
        font-family: var(--josefin-sans);
        font-size: var(--size-m);
        font-weight: var(--weight-lg);
        text-align: left;
        color: var(--desaturated-red);

        &::-webkit-input-placeholder {
            font-family: var(--josefin-sans);
            font-size: var(--size-m);
            font-weight: var(--weight-lg);
            text-align: left;
            color: var(--desaturated-red);
        }
    }

    &__button {
        align-self: center;
        background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        height: 65px;
        border: none;
        outline: none;
        border-radius: 40px;
        padding: var(--span-xs) var(--span-s);
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 300ms;
        box-shadow: 0px 15px 72px hsl(0, 74%, 74%);

        &:hover {
            transform: translateX(20px);
        }
    }
}

.card__mobile {
    min-height: 100vh;
    display: none;

    @media only screen and (max-width: 990px) {
        display: block;
    }

    &__header {
        padding: var(--span-l);

        @media only screen and (max-width: 600px) {
            padding: var(--span-m);
        }
    }

    &__image--box {
        display: flex;
    }

    &__image {
        display: block;
        width: 100%;
        object-fit: cover;
        height: 500px;

        @media only screen and (max-width: 768px) {
            height: 450px;
        }

        @media only screen and (max-width: 600px) {
            height: 250px;
        }
    }

    &__body {
        padding: var(--span-m);
    }

    .card__heading {
        @media only screen and (max-width: 990px) {
            margin: 0 auto;
            margin-top: var(--span-s);
            text-align: center;
            font-size: var(--size-xl);
            font-weight: var(--weight-lg);
        }
    }

    .card__paragraph {
        @media only screen and (max-width: 990px) {
            margin: 0 auto;
            max-width: 65%;
            margin-top: var(--span-s);
            text-align: center;
            font-size: var(--size-s);
            font-weight: var(--weight-md);
        }

        @media only screen and (max-width: 600px) {
            max-width: 100%;
        }
    }
}